@model PIS_projekt.ViewModels.SklonisteVM

@{
    ViewData["Title"] = "Sklonista";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<!-- Page transition-->
<div class="loader-wrapper">
	<span class="loader"><span class="loader-inner"></span></span>
</div>

<div class="row rounded bg-light border-bottom">
    <div class="container">
        <div class="d-inline-flex align-items-center">
            <h1 class="test"><i class="fas fa-warehouse"></i> Skloništa</h1>
            <a class="btn btn-outline-primary ml-4" asp-controller="Admin" asp-action="CreateSkloniste">Dodaj novo skloniste <i class="fas fa-plus-circle"></i></a>
        </div>

        <div class="table-responsive">
            <table class="table table-hover mt-2 mb-md-0">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            <a asp-controller="Admin" asp-action="Sklonista" asp-route-sortOrder="@ViewData["NazivOrder"]" asp-route-pg="@pager.CurrentPage">Naziv skloništa</a>
                        </th>
                        <th>
                            Adresa
                        </th>
                        <th>
                            <a asp-controller="Admin" asp-action="Sklonista" asp-route-sortOrder="@ViewData["GradOrder"]" asp-route-pg="@pager.CurrentPage">Grad</a>
                        </th>
                        <th>
                            <a asp-controller="Admin" asp-action="Sklonista" asp-route-sortOrder="@ViewData["ZupanijaOrder"]" asp-route-pg="@pager.CurrentPage">Županija</a>
                        </th>
                        <th>
                            Kapacitet skloništa
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Telefon
                        </th>
                        <th>
                            Opcije
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.skloniste)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.NazivSklonista)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Adresa)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NazivGrada)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NazivZupanije)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KapacitetSklonista)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefon)
                            </td>
                            <td>
                                <a asp-controller="Admin" asp-action="Edit" asp-route-id="@item.skloniste_id">Uredi</a>
                                <!--<a asp-action="Details" asp-route-id="@item.skloniste_id">Details</a> |-->
                                <a asp-controller="Admin" asp-action="IzbrisiSkloniste" asp-route-id="@item.skloniste_id">Izbriši</a>
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="8" class="text-right p-2">
                            <div>
                                @if (pager.TotalPages > 0)
                                {


                                    <ul class="pagination justify-content-end">
                                        @if (pager.CurrentPage > 1)
                                        {
                                            <li class="page-item">
                                                <a class="page-link" asp-controller="Admin" asp-action="Sklonista" asp-route-sortOrder="@ViewBag.CurrentSort" asp-route-pg="1">Prva</a>
                                            </li>
                                            <li>
                                                <a class="page-link" asp-controller="Admin" asp-action="Sklonista" asp-route-sortOrder="@ViewBag.CurrentSort" asp-route-pg="@(pager.CurrentPage-1)">Prethodna</a>
                                            </li>
                                        }

                                        @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                                        {
                                            <li class="page-item @(pge==pager.CurrentPage ? "active" : "")">
                                                <a class="page-link" asp-controller="Admin" asp-action="Sklonista" asp-route-sortOrder="@ViewBag.CurrentSort" asp-route-pg="@pge"> @pge </a>
                                            </li>
                                        }

                                        @if (pager.CurrentPage < pager.TotalPages)
                                        {
                                            <li>
                                                <a class="page-link" asp-controller="Admin" asp-action="Sklonista" asp-route-sortOrder="@ViewBag.CurrentSort" asp-route-pg="@(pager.CurrentPage+1)">Iduća</a>
                                            </li>
                                            <li>
                                                <a class="page-link" asp-controller="Admin" asp-action="Sklonista" asp-route-sortOrder="@ViewBag.CurrentSort" asp-route-pg="@(pager.TotalPages)">Zadnja</a>
                                            </li>
                                        }
                                    </ul>
                                }
                            </div>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>