@model PIS_projekt.ViewModels.ZivotinjeVM

@{
    ViewData["Title"] = "Detalji";
}

<div class="row rounded bg-light border-bottom">
    <div class="container p-md-2">
        <h1 class="test"><i class="fas fa-info-circle"></i> Informacije</h1>
        <div class="row rounded m-md-2 bg-light d-flex justify-content-start p-3">
            @foreach (var item in Model.zivotinje)
            {
                <div class="col-sm-3 shadow-lg">
                    <dl style="color: black">
                        <dt>
                            Broj mikročipa
                        </dt>
                        <dd class="pb-md-3">
                            @Html.DisplayFor(model => item.BrojMikrocipa)
                        </dd>
                        <dt class="">
                            Ime životinje
                        </dt>
                        <dd class="pb-md-3">
                            @Html.DisplayFor(model => item.ImeZivotinje)
                        </dd>
                        <dt>
                            Naziv pasmine
                        </dt>
                        <dd class="pb-md-3">
                            @Html.DisplayFor(model => item.NazivPasmine)
                        </dd>
                        <dt>
                            Vrsta životinje
                        </dt>
                        <dd class="pb-md-3">
                            @Html.DisplayFor(model => item.NazivVrste)
                        </dd>
                        <dt>
                            Spol
                        </dt>
                        <dd class="">
                            @Html.DisplayFor(model => item.NazivSpola)
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-3 shadow-lg mx-md-4">
                    <dl style="color: black">
                        <dt>
                            Datum štenjenja
                        </dt>
                        <dd class="pb-md-3">
                            @Html.DisplayFor(model => item.DatumStenjenja)
                        </dd>
                        <dt>
                            Adresa pronalaska
                        </dt>
                        <dd class="pb-md-3">
                            @Html.DisplayFor(model => item.AdresaPronalaska)
                        </dd>
                        <dt>
                            Datum pronalaska
                        </dt>
                        <dd class="pb-md-3">
                            @Html.DisplayFor(model => item.DatumPronalaska)
                        </dd>
                        <dt>
                            Za udomljavanje
                        </dt>
                        <dd class="pb-md-3">
                            @Html.DisplayFor(model => item.JeLiZaUdomljavanje)
                        </dd>
                        <dt>
                            Naziv sklonista
                        </dt>
                        <dd class="pb-md-3">
                            @Html.DisplayFor(model => item.NazivSklonista)
                        </dd>
                        <dt>
                            Mjesto
                        </dt>
                        <dd class="pb-md-3">
                            @Html.DisplayFor(model => item.NazivGrada)
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-5">
                        <img src="/images/@Html.DisplayFor(Model => item.Slika)" alt="Nema slike" 
                             class="img-thumbnail rounded-circle shadow-lg ml-3"
                             style="height: 400px; width: 550px"/>
                </div>
            }
                </div>
            </div>
</div>