@model PIS_projekt.ViewModels.IzgubljeneMiniVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutZaposlenik.cshtml";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<!-- Page transition-->
<div class="loader-wrapper">
	<span class="loader"><span class="loader-inner"></span></span>
</div>
<div class="row rounded bg-light border-bottom">
    <div class="container">

        <div class="d-inline-flex align-items-center">
            <h1><i class="fas fa-paw"></i> Životinje-Izgubljene</h1>
            <a class="btn btn-outline-primary ml-4" asp-controller="Korisnici" asp-action="DodavanjeZivotinje">Dodaj novu životinju <i class="fas fa-plus-circle"></i></a>
        </div>

        <h5>
            <a class="badge badge-secondary ml-2" asp-controller="Zivotinje" asp-action="ZivotinjeUSklonistu">Pronađene</a>
            <a class="badge badge-secondary ml-2" asp-controller="Zivotinje" asp-action="ZaUdomljavanjeSkloniste">Za udomljavanje</a>
            <a class="badge badge-secondary ml-2" asp-controller="Zivotinje" asp-action="IzgubljeneSkloniste">Izgubljene</a>
        </h5>

        <div class="table-responsive">
            <table class="table table-hover mt-2 mb-md-0">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Informacije
                        </th>
                        <th>
                            Vrsta životinje
                        </th>
                        <th>
                            Pasmina
                        </th>
                        <th>
                            Spol
                        </th>
                        <th>
                            Kontakt
                        </th>
                        <th>
                            Lokacija nestanka
                        </th>
                        <th>
                            Mjesto nestanka
                        </th>
                        <th>
                            Datum nestanka
                        </th>
                        <th>
                            Datum prijave
                        </th>
                        <!-- <th>
                        Adresa skloništa
                    </th>
                    <th>
                        Mjesto
                    </th>
                    <th>
                        Županija
                    </th>
                    <th></th>-->
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.IzgubljeneMini)
                    {
                        <tr>
                            <td>
                                <a asp-action="IzgubljeneDetaljiSkloniste" asp-route-id="@item.IzgubljeneZivotinjeId">Informacije</a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VrstaZivotinje)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Pasmina)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Spol)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Kontakt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LokacijaNestanka)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Grad)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DatumNestanka)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DatumPrijave)
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="9" class="text-right p-2">
                            @if (pager.TotalPages > 0)
                            {


                                <ul class="pagination justify-content-end">
                                    @if (pager.CurrentPage > 1)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" asp-controller="Zivotinje" asp-action="IzgubljeneSkloniste" asp-route-pg="1">Prva</a>
                                        </li>
                                        <li>
                                            <a class="page-link" asp-controller="Zivotinje" asp-action="IzgubljeneSkloniste" asp-route-pg="@(pager.CurrentPage-1)">Prethodna</a>
                                        </li>
                                    }

                                    @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                                    {
                                        <li class="page-item @(pge==pager.CurrentPage ? "active" : "")">
                                            <a class="page-link" asp-controller="Zivotinje" asp-action="IzgubljeneSkloniste" asp-route-pg="@pge"> @pge </a>
                                        </li>
                                    }

                                    @if (pager.CurrentPage < pager.TotalPages)
                                    {
                                        <li>
                                            <a class="page-link" asp-controller="Zivotinje" asp-action="IzgubljeneSkloniste" asp-route-pg="@(pager.CurrentPage+1)">Iduća</a>
                                        </li>
                                        <li>
                                            <a class="page-link" asp-controller="Zivotinje" asp-action="IzgubljeneSkloniste" asp-route-pg="@(pager.TotalPages)">Zadnja</a>
                                        </li>
                                    }
                                </ul>
                            }
                        </th>
                    </tr>
                </tfoot>
            </table>
            <div class="container">


            </div>
        </div>
    </div>
</div>