@model PIS_projekt.ViewModels.ZivotinjeMiniVM

@{
    ViewData["Title"] = "Index";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h1>Index</h1>

<p>
    <a asp-controller="Zivotinje" asp-action="Pronadjene">Pronađene</a>
    <a asp-controller="Zivotinje" asp-action="ZaUdomljavanje">Za udomljavanje</a>
    <a asp-controller="Zivotinje" asp-action="Izgubljene">Izgubljene</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Detalji
            </th>
            <th>
                Broj mikročipa
            </th>
            <th>
                Ime
            </th>
            <th>
                Pasmina
            </th>
            <th>
                Vrsta životinje
            </th>
            <th>
                Spol
            </th>
            <th>
                Za udomljavanje
            </th>
            <th>
                Naziv skloništa
            </th>
            <th>
                Mjesto
            </th>
            <!-- <th>
                Adresa skloništa
            </th>
            <th>
                Mjesto
            </th>
            <th>
                Županija
            </th>
            <th></th>-->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ZivotinjeMini)
        {
            <tr>
                <td>
                    <a asp-controller="Zivotinje" asp-action="Detalji" asp-route-id="@item.ZivotinjaUSklonistuId">Detalji</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrojMikrocipa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImeZivotinje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NazivPasmine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NazivVrste)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NazivSpola)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JeLiZaUdomljavanje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NazivSklonista)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NazivGrada)
                </td>

                <!-- <td>
                    <a asp-action="Edit" asp-route-id="@item.ZivotinjaUSklonistuId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ZivotinjaUSklonistuId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ZivotinjaUSklonistuId">Delete</a>
                </td>-->
            </tr>
        }
    </tbody>
</table>
<div class="container">
    @if (pager.TotalPages > 0)
    {


        <ul class="pagination justify-content-end">
            @if (pager.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Zivotinje" asp-action="ZaUdomljavanje" asp-route-pg="1">Prva</a>
                </li>
                <li>
                    <a class="page-link" asp-controller="Zivotinje" asp-action="ZaUdomljavanje" asp-route-pg="@(pager.CurrentPage-1)">Prethodna</a>
                </li>
            }

            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge==pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Zivotinje" asp-action="ZaUdomljavanje" asp-route-pg="@pge"> @pge </a>
                </li>
            }

            @if (pager.CurrentPage < pager.TotalPages)
            {
                <li>
                    <a class="page-link" asp-controller="Zivotinje" asp-action="ZaUdomljavanje" asp-route-pg="@(pager.CurrentPage+1)">Iduća</a>
                </li>
                <li>
                    <a class="page-link" asp-controller="Zivotinje" asp-action="ZaUdomljavanje" asp-route-pg="@(pager.TotalPages)">Zadnja</a>
                </li>
            }
        </ul>
    }

</div>
